:root {
  --heading: condor-extended, sans-serif;
  --paragraph: eurostile, sans-serif;
  --color-default: #000000;
  --h1: 8rem;
  --h2: 6.2rem;
  --h3: 5rem;
  --h4: 3.125rem;
  --p: 3.125rem;
  --p-footer: 1.875rem;
}

h2 {
  font-family: var(--heading);
  font-size: var(--h2);
}

h4 {
  font-size: var(--h4);
  font-weight: 500;
}
p {
  font-family: var(--paragraph);
  font-size: var(--p);
}
