/* Inspiration from tinderbox program setup with line indication and schema:
 https://tinderbox.dk/program/?gad=1&gclid=CjwKCAjwjYKjBhB5EiwAiFdSfiRSNWo1SbtqktdsBSz9BluuzPH0NGo6nI9zuTTo43puyqPPzRvPhBoCFG4QAvD_BwE
 */

.act_wrapper{
padding-left: 80px;
}
 .days_program {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 }
.schedule_scenes{
  grid-area: 1/2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  margin-top: 90px;
}

/* .schedule_act {
  display: grid;
  grid-template-columns: 1fr;
}
.schedule_act.hide{
  display:none;
} */

.scene_label {
  padding-bottom: 10px;
}
.timetable{
  display:grid;
  grid-template-columns: 1fr;
}
.timetable_hour {
  display: block;
  height: 200px;
  position: relative;
  font-size: 16px;
  color:aqua
}
.hourLine_Quarter{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top:2px solid bisque 
  /* border-top to see each quarter indication */
}

/* start of hour line */
.hourLine_Quarter_highlight {
  border-top:5px solid bisque;
  line-height: 50px;
}
.hourLine_Quarter:nth-child(2){
  
  top: 25%;
}
.hourLine_Quarter:nth-child(3){
  
  top: 50%;
}
.hourLine_Quarter:nth-child(4){
  top: 75%;
}
.bandEvent_section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  border: 2px solid #a00b0b
}

.timeSlot_{
  display: flex;
  flex-direction: row;
}
.timeSlot_ h3:last-child{
  margin-left: auto;
}
.Midgard_bandEvent {
  background-color: aqua;
}
.Vanaheim_bandEvent {
  background-color: rgb(207, 31, 169);
}
.Jotunheim_bandEvent {
  background-color: rgb(72, 132, 127);
}